body {
    color: white;
    background: black;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: red;
}

h2 {
    color: yellow;
}

h1, h2 {
    text-align: center;
}

em {
    color: orange;
}

li {
    font-size: small;
}

img {
    max-width: 100%;
    height: auto;
}
